/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}

/* Cabeçalho */
header {
    background: linear-gradient(90deg, #4a90e2, #9013fe);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para a logo */
.logo img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Navegação */
.navbar {
    flex-grow: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ffd700;
}

/* Estilos principais */
main {
    padding: 20px;
    background: linear-gradient(120deg, #f0f0f0, #ffffff);
    flex-grow: 1; /* Faz com que o main ocupe o espaço restante */
}

/* Seção de Contato */
section#contato {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto */
}

h2 {
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border: 1px solid #4a90e2;
    outline: none;
}

button {
    background: linear-gradient(90deg, #4a90e2, #9013fe);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(90deg, #9013fe, #4a90e2);
}

/* Informações de Contato */
.informacoes-contato {
    margin-top: 20px;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Garante que o rodapé seja empurrado para o fundo */
}

/* Ícones de redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }
    .servicos-lista {
        flex-direction: column;
    }
}
